:root {
  --color-background-body: #ffffff;
  --color-background-nav: #212336;
  --color-red: #fa4855;
  --color-white: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Neuzeit Office W04 Bold", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

.App {
  background-color: var(--color-background-body);
  min-height: 100vh;
  color: white;
}

.container__hero {
  height: 200px;
  padding: 0 10px 0 10px;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
    141deg,
    #111317 10%,
    #45484e 51%,
    #111317 75%
  );
}

.hero__img {
  position: absolute;
  z-index: -1;
  height: inherit;
  width: 100%;
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero {
  display: grid;
  justify-content: center;
  color: var(--color-white);
  align-content: center;
  height: inherit;
}

.nav {
  height: 50px;
  background: var(--color-background-nav);
}
